@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.flex {
  display: flex;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 400;
}

.card__title{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card__subtitle{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
